[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=billa
Group=billa
WorkingDirectory=/home/billa/app/src/
Environment="PATH=/home/billa/app/venv/bin"
EnvironmentFile=/home/billa/.env
ExecStart=/home/billa/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target